.channel {
    &-icon {
        width: 25px;
        height: 25px;
        line-height: 25px;
        background-color: grey;
        border-radius: 50%;
        cursor: pointer;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-title {
        cursor: pointer;
    }
}

.timer-card {
    // border-top: 1px solid grey;
    // border-bottom: 1px solid grey;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px;
}

.flight {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
}
