/* Animation */
.anim-typewriter {
    animation: typewriter 2s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}

.anim-typewriter-del {
    animation: typewriterDel 2s steps(44) 1s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes typewriterDel {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
        border-right-color: transparent;
    }
}

.white-space{
    white-space: nowrap;
    overflow: hidden;
}